*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: .9375rem;
  color: #fefefe;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  margin-top: 0px;
}

h2.small {
  font-size: 1.2em;
}

h2.large {
  font-size: 1.6em;
}

p {
  margin: 0px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
}

.container_mobile_PX {
  padding: 0 1.8125rem;
}

.container_small {
  max-width: 650px;
}

.btn {
  display: inline-block;
  font-size: .8125rem;
  font-weight: 700;
  width: 15rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 1.75rem;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  transition: backgorund 300ms ease-in-out;
}

.btn:hover {
  background: linear-gradient(to right, #339ecc, #339ecc);
}

.mainBgColor {
  background-color: #181f2a;
}

.header {
  background-color: #1c2431;
}

.header .container {
  grid-template-columns: 1fr 3fr 2fr;
  grid-gap: 1rem;
  padding: 1.375rem 1.1875rem 0 1.1875rem;
}

.header__logo {
  grid-column: 1/2;
  align-self: center;
}

.header__logo img {
  max-width: 5rem;
}

.header__menu {
  grid-column: 5/7;
  align-self: center;
}

.header__menu a {
  transition: font 200ms ease-in-out;
}

.header__menu a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.header__menu a:not(:last-child) {
  padding-right: 1.1875rem;
}

.hero {
  background-color: #1c2431;
  text-align: center;
  padding-top: 3.125rem;
}

.hero .container {
  justify-items: center;
}

.hero__image {
  position: relative;
  z-index: 2;
}

.hero__image img {
  position: relative;
  max-width: 90%;
  padding: 2.625rem 0  2.4375rem 0;
}

.hero__text h1 {
  position: relative;
  font-size: 1.5rem;
  padding-bottom: 1.5625rem;
  line-height: 1.6;
  z-index: 1;
}

.hero__text h1::before {
  content: "";
  position: absolute;
  background-image: url(/images/bg-curvy-mobile.svg);
  width: 100%;
  height: 159%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.hero__subcta {
  background-color: #181f2a;
}

.hero__subhead {
  padding-bottom: 2.375rem;
}

.feature {
  padding-top: 8.8125rem;
  text-align: center;
}

.feature .container {
  grid-gap: 5.4375rem;
}

.feature__items img {
  margin-bottom: 2.175rem;
}

.feature__items h2 {
  font-size: 1.125rem;
  padding-bottom: 1rem;
}

.productive {
  padding-top: 10.875rem;
}

.productive__image {
  justify-self: center;
}

.productive__image img {
  max-width: 100%;
  margin-bottom: 3.3125rem;
}

.productive__text h2 {
  padding-bottom: 1.625rem;
}

.productive__text p {
  padding-bottom: 1.125rem;
}

.productive__text .fylo-work_link {
  display: flex;
  flex-direction: rox;
}

.productive__text .fylo-work_link a {
  color: #65e2d9;
  text-decoration: underline;
  margin-right: .625rem;
  transition: color 300ms ease-in-out;
}

.productive__text .fylo-work_link a:hover {
  color: white;
}

.testimonial {
  padding-top: 9.5625rem;
}

.testimonial .container {
  position: relative;
  justify-items: center;
  grid-gap: 1.3725rem;
  z-index: 1;
}

.testimonial .container::after {
  position: absolute;
  content: "";
  background-image: url(/images/bg-quotes.png);
  width: 48px;
  height: 7%;
  background-repeat: no-repeat;
  left: 43px;
  top: -31px;
  background-position: center center;
  background-size: 55%;
  z-index: -1;
}

.testimonial__card {
  background-color: #1c2431;
  width: 17.5rem;
  height: 11rem;
  font-size: 0.75rem;
  padding: 1.375rem;
  border-radius: 5px;
}

.testimonial__card__text {
  padding-bottom: 1.25rem;
}

.testimonial__card .bio {
  display: grid;
  grid-template-columns: .7fr 4fr;
  grid-gap: 10px;
}

.testimonial__card .bio__image {
  align-self: center;
}

.testimonial__card .bio__image img {
  width: 100%;
  border-radius: 50%;
}

.testimonial__card .bio__detail .name {
  font-weight: 700;
}

.signup {
  padding-top: 10rem;
  text-align: center;
}

.signup__container {
  background-color: #1c2431;
  padding: 2.625rem 1.6875rem;
  border-radius: 5px;
}

.signup__container h2 {
  margin-bottom: 1.625rem;
}

.signup__container p {
  margin-bottom: 2.125rem;
}

.signup__form {
  display: grid;
  grid-gap: 1.5625rem;
}

.signup__form #email, .signup__form .btn {
  width: 100%;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 1rem 1.875rem;
}

.footer {
  padding-top: 4.5rem;
  padding-bottom: 2.625rem;
}

.footer .container {
  grid-gap: 5rem;
}

.footer__contact {
  display: grid;
  grid-gap: 1.875rem;
}

.footer__address, .footer__phone, .footer__email {
  display: grid;
  grid-template-columns: .1fr 1fr;
  grid-row: auto;
}

.footer__firstMenu, .footer__secondMenu {
  display: flex;
  flex-direction: column;
  line-height: 2.8;
}

.footer__socialIcon {
  display: grid;
  justify-self: center;
  max-width: 6.625rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .625rem;
}

.footer__socialIcon a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 9px;
  transition: color 300ms ease-in-out;
}

.footer__socialIcon a:hover {
  color: #65e2d9;
}
/*# sourceMappingURL=style.css.map */