.feature {
    padding-top: 8.8125rem;
    text-align: center;
    
    .container {
        grid-gap: 5.4375rem;
    }

    &__items {

        img {
            margin-bottom: 2.175rem;
        }

        h2 {
            font-size: 1.125rem;
            padding-bottom: 1rem;
        }
        

    }
}