.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
}

.container_mobile_PX {
  padding: 0 1.8125rem;
}

.container_small {
  max-width: 650px;
}

.btn {
  display: inline-block;
  width: 15rem;
  height: 3rem;
  background-color: linear-gradient (to right, $ctaCyan, $ctaBlue);
} 