.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
}

.container_mobile_PX {
  padding: 0 1.8125rem;
}

.container_small {
  max-width: 650px;
}

.btn {
  display: inline-block;
  font-size:.8125rem;
  font-weight: 700;
  width: 15rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 1.75rem;
  background-image: linear-gradient(to right, $ctaCyan, $ctaBlue);
  transition: backgorund 300ms ease-in-out;

  &:hover {
    background: linear-gradient(to right, $ctaBlue, $ctaBlue);
  }
} 

