.header {
    background-color: $introBG;

    .container{
        grid-template-columns: 1fr 3fr 2fr;
        grid-row: 1fr;
        grid-gap: 1rem;
        padding: 1.375rem 1.1875rem 0 1.1875rem;
    }

    &__logo {
        grid-column: 1/2;
        align-self: center;
        

        img {
        max-width: 5rem;
        }
    }

    &__menu {
        grid-column: 5/7;
        align-self: center;

        a {
        transition: font 200ms ease-in-out;
        }

        a:hover {
        text-decoration: underline;
        font-weight: 700;
        }

        a:not(:last-child) {
        padding-right: 1.1875rem;
        }
    }
}