.hero {
    background-color: $introBg;
    text-align: center;
    padding-top: 3.125rem;

    .container {
        justify-items: center;
        
    }

    &__image {
        position: relative;
        z-index: 2;
        
        img {
            position: relative;
            max-width: 90%;
            padding: 2.625rem 0  2.4375rem 0;   
        }
    }

    &__text {
        
        h1 {
            position: relative;
            font-size: 1.5rem;
            padding-bottom: 1.5625rem;
            line-height: 1.6;
            z-index:1;

            &::before {
                content: "";
                position: absolute;
                background-image: url(/images/bg-curvy-mobile.svg);
                width: 100%;
                height: 159%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }     
    }

    &__subcta {
        background-color: $mainBg;
    }

    &__subhead {
        padding-bottom: 2.375rem;
    }
}

   
