.hero {
    text-align: center;
    background-color: $introBG;
    padding-top: 3.125rem;

    &__image {
    
        img {
        max-width: 95%;
        padding: 2.625rem 0  2.4375rem 0;
        }
    }

    &__text {

        h1{
        font-size: 1.5rem;
        padding-bottom: 1.8125rem;
        line-height: 1.6;
        }

        p {
        margin-bottom: 2.0625rem;
        }

        a {
            
        }
    }
}