.testimonial {
    padding-top: 9.5625rem;

    .container {
        justify-items: center;
        grid-gap: 1.3725rem;

        @include breakpoint-up (large) {
            max-width: 60rem;
            grid-template-columns: repeat(3, 1fr);
            grid-row: 1fr;
            grid-gap: 1.25rem;
        }
        
    }

    &__card {
        background-color: $introBg;
        width: 17.5rem;
        height: 11rem;
        font-size: 0.75rem;
        padding: 1.375rem;
        border-radius: 5px;

        &__text {
            padding-bottom: 1.25rem;
        }

        .bio {
            display: grid;
            grid-template-columns: .7fr 4fr;
            grid-gap:10px;

            &__image {
            align-self: center;

                img {
                    width:100%;
                    border-radius:50%;
                }
            }

            &__detail {

                .name {
                    font-weight: 700;
                }
            }
        }
    }

    .one {
        position: relative;
        z-index:1;
        
        &::before {
            position: absolute;
            content: "";
            background-image: url(/images/bg-quotes.png);
            width: 56px;
            height: 37px;
            background-repeat: no-repeat;
            top: -27px;
            left: 11px;
            background-size: 60%;
            z-index: -1;
            background-position: center center;
        }
    }
}