//Fonts
$font-title: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;

//Colors

//Primary
$introBG: rgb(28, 36, 49);
$mainBg: rgb(24, 31, 42);
$footerBg: hsl(216, 53%, 9%);
$testimonialBg: hsl(219, 30%, 18%);
$white: hsl(0, 0%, 100%);

//Accent
$ctaCyan: hsl(176, 68%, 64%);
$ctaBlue: hsl(198, 60%, 50%);
$error: hsl(0, 100%, 63%);